header.admin-header
		div.admin-header__container
			div.admin-header__wrap-left
				div.admin-header__title Панель администрирования
			div.admin-header__wrap-right
				a.admin-header__back(href="./index.html", title="link")
					h5 Вернуться на сайт
		div.admin-header__button-panel
			button.admin-header__button.admin-header__button-activ
				a.admin-header__link-tab1(href="./admin1.html")
					h5 TAB 1
			button.admin-header__button 
				a.admin-header__link-tab2(href="./admin2.html")
					h5 TAB 2
			button.admin-header__button 
				a.admin-header__link-tab3(href="./admin3.html")
					h5 TAB 3
			button.admin-header__button 
				a.admin-header__link-tab4(href="./admin4.html")
					h5 TAB 4
				

