footer.footer__big 
	div.footer__big_container
		div.section__up
			div.section__up_left
				ul.menu__text
					li.menu__footer_item 
						a.menu__footer_link(href="my-works.html") Мои работы
					li.menu__footer_item 
						a.menu__footer_link(href="./about.html") Обо мне
					li.menu__footer_item 
						a.menu__footer_link(href="./blog.html") Блог
					li.menu__footer_item 
						a.menu__footer_link(href="./index.html") Авторизация
			div.section__up_right
				div.footer__soc
					ul.footer__soc-list
						li.footer__soc-item
							a.footer__soc-link(href='https://vk.com', title='VK')
								svg.footer__item-icon
									<use xlink:href="./assets/images/sprite-footer.svg#vk"></use> 
						li.footer__soc-item
							a.footer__soc-link(href='https://github.com/Astay77', title='GitHub')
								svg.footer__item-icon
									<use xlink:href="./assets/images/sprite-footer.svg#github"></use>
						li.footer__soc-item
							a.footer__soc-link(href='https://www.linkedin.com', title='Link')
								svg.footer__item-icon
									<use xlink:href="./assets/images/sprite-footer.svg#in"></use>
		div.section__line
		div.section__down           
			div.section__down_left
				div.section__down_text Я веб-разработчик из Москвы, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
			div.section__down_right
				div.section__down_text &#169; Салтыков Александр | создано с любовью в LoftSchool | 2018 

