footer.footer 
	div.footer__big
		div.footer__container
			ul.footer__big_list
				li.section__left
					div.section__left_text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
				li.section__line
				li.section__centr
					ul.menu__text
						li.menu__footer_item 
							a.menu__footer_link(href="my-works.html") Мои работы
						li.menu__footer_item 
							a.menu__footer_link(href="/about.html") Обо мне
						li.menu__footer_item 
							a.menu__footer_link(href="blog.html") Блог
						li.menu__footer_item 
							a.menu__footer_link(href="/index.html") Авторизация

					ul.menu__soc
						li.social__item
							a.menu__soc_item(href='https://vk.com', title='VK')
								svg.menu__soc_icon

						li.social__item
							a.menu__soc_item(href='https://github.com/Astay77', title='GitHub')
								svg.menu__soc_icon

						li.social__item
							a.menu__soc_item(href='https://www.linkedin.com', title='Link')
								svg.menu__soc_icon
				li.section__line
				li.section__right
					ul.my__contacts
						li.my__contacts_skype
							h5 astay77
						li.my__contacts_mail
							h5 astay77@gmail.com
						li.my__contacts_phone
							h5 +7 916 639 22 39
						li.my__contacts_adress
							h5 г.Москва
	div.footer__small
		div.data__author &#169; Салтыков Александр | Создано с любовью в LoftSchool | 2018	

