div.hamburger-container(id="toggle")
		span.button_container__item.button_container--top
		span.button_container__item.button_container--middle
		span.button_container__item.button_container--bottom
div.overlay(id="overlay")
	nav.overlay-menu
		ul.overlay-menu__list
			li.overlay-menu__item
				a.overlay-menu__link(href="/my-works.html") мои работы
			li.overlay-menu__item
				a.overlay-menu__link(href="/blog.html") блог
			li.overlay-menu__item
				a.overlay-menu__link(href="/about.html") обо мне
			li.overlay-menu__item
				a.overlay-menu__link(href="/index.html#authorization") авторизация