div.parallax-container
	div.parallax-content(id='parallax-content')
		div.parallax__layer
			img.parallax__image(src="./assets/images/parallax/layer_10.png" alt="parallax layer")
		div.parallax__layer
			img.parallax__image(src="./assets/images/parallax/layer_9.png" alt="parallax layer")
		div.parallax__layer
			img.parallax__image(src="./assets/images/parallax/layer_8.png" alt="parallax layer")
		div.parallax__layer
			img.parallax__image(src="./assets/images/parallax/layer_7.png" alt="parallax layer")
		div.parallax__layer
			img.parallax__image(src="./assets/images/parallax/layer_6.png" alt="parallax layer")
		div.parallax__layer
			img.parallax__image(src="./assets/images/parallax/layer_5.png" alt="parallax layer")
		div.parallax__layer
			img.parallax__image(src="./assets/images/parallax/layer_4.png" alt="parallax layer")
		div.parallax__layer
			img.parallax__image(src="./assets/images/parallax/layer_3.png" alt="parallax layer")
		div.parallax__layer
			img.parallax__image(src="./assets/images/parallax/layer_2.png" alt="parallax layer")
		div.parallax__layer
			img.parallax__image(src="./assets/images/parallax/layer_1.png" alt="parallax layer")
