extends ../template


block variables
	- var title = 'Обо мне'

block content
	div.about__container
		div.about__section_left
			div.about__title 
				h1 Обо мне
			
			div.about__info
				div.about__myphoto 
				div.about__title_small
					h3 Кто я
					div.gorizont__line
				div.about__container_lefttext
					p.about__text Я веб разработчик из Москвы. Мне 34 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.<br> Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
		div.about__section_right
			div.about__title_small
				h3 Чем я могу быть вам полезен
				div.gorizont__line
			div.about__container_righttext
				p.about__text Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
			div.about__diagram
				h4.frontend__diagram_skill Frontend
				ul.frontend__diagram
					li.frontend__diagram_item
					li.frontend__diagram_item
					li.frontend__diagram_item

				h4.backend__diagram_skill Backend
				ul.backend__diagram
					li.backend__diagram_item
					li.backend__diagram_item
					li.backend__diagram_item

				h4.workflow__diagram_skill WorkFlow
				ul.workflow__diagram
					li.workflow__diagram_item
					li.workflow__diagram_item
					li.workflow__diagram_item
	div.map
		div.contacts__card
			div.about__title_small
				h3 Контакты
				div.gorizont__line
			div.contacts__card_left
				div.contacts__card_skype
					h5 astay77
				div.contacts__card_mail
					h5 astay77@gmail.com
			div.contacts__card_right
				div.contacts__card_phone
					h5 +7 916 639 22 39
				div.contacts__card_adress
					h5 г.Москва





		    	

	