extends ../template

block variables
	- var title = 'Блог'

block content
	header.header__blog
		div.header__myphoto
		h1.header__blog_title Блог
		h5.header__blog_title Статьи, которые я написал
	div.blog__container
		div.blog__sidebar
			ul.list__article 
				li.list__article_art.list__article_artactiv
					h5 Самое важное в SASS
				li.list__article_art
					h5 Приёмы в вёрстке, без которых не обходится ни один сайт
				li.list__article_art
					h5 Самый необходимый набор Gulp плагинов 
				li.list__article_art
					h5 Почему я выбрал Pug    
		div.blog__content 
			div.blog__content_article         
				h3 Самое важное в SASS 
				div.date 22 ноября 2017  
				div.article__text Вот так Sass описывает сам себя в своей документации: Sass — это расширение CSS, которое добавляет силу и элегантность к основному языку. Главная цель Sass — исправить недостатки CSS. Как мы все знаем, это не самый лучший язык в мире. Являясь довольно простым для освоения, он может быстро стать запутанным, особенно на больших проектах. Вот тут-то и вступает в свою роль Sass как метаязык, который улучшает синтаксис CSS, чтобы предоставить дополнительные возможности и удобные инструменты. Между тем, Sass остаётся консервативным в отношении языка CSS. Цель не в том, чтобы превратить CSS в полнофункциональный язык программирования; Sass хочет лишь помочь там, где не справляется CSS. Поэтому начать использовать Sass – не сложнее, чем начать изучать CSS: он просто добавляет дополнительные возможности поверх CSS.
			div.line__separator
			div.blog__content_article 
				h3 Приёмы в вёрстке, без которых не обходится ни один сайт
				div.date 13 ноября 2017 
				div.article__text Адаптивная вёрстка сайта позволяет веб-страницам автоматически подстраиваться под экраны планшетов и смартфонов. Мобильный интернет-трафик растёт с каждым годом и чтобы эффективно обрабатывать этот трафик, нужно предлагать пользователям адаптивные сайты с удобным интерфейсом. Поисковые системы используют ряд критериев для оценки адаптивности сайта при просмотре на мобильных устройствах. Google старается упростить пользование Интернетом для владельцев смартфонов и планшетов, отмечая в мобильной выдаче адаптированные под мобильные устройства сайты специальной пометкой mobile-friendly. В Яндексе также работает алгоритм, который отдает предпочтение сайтам с мобильной/адаптивной версией для пользователей в мобильном поиске. Проверить отображение страницы на мобильных устройствах можно на сервисах Яндекс.Вебмастер и Google Developers.
	include ./../common/footer.pug
	


