extends ../template

block variables
	- var title = 'Блог'

block content
	header.header-blog
		include ./../common/parallax.pug
		include ./../common/hamburger-menu.pug
		div.header__myphoto
		
		div.blog-title__container
			svg.svg-text__blog
				<use xlink:href="./assets/images/text.svg#blog-header"></use>
			div.gorizont__line
			h1.blog-title__text Блог
			div.gorizont__line

		h5.header-blog__title Статьи, которые я написал
		div.header__soc
			ul.header__soc-list
				li.header__soc-item
					a.header__soc-link(href='https://vk.com', title='VK')
						svg.header__item-icon
							<use xlink:href="./assets/images/sprite-welcome.svg#vk"></use> 
				li.header__soc-item
					a.header__soc-link(href='https://github.com/Astay77', title='GitHub')
						svg.header__item-icon
							<use xlink:href="./assets/images/sprite-welcome.svg#github"></use>
				li.header__soc-item
					a.header__soc-link(href='https://www.linkedin.com', title='Link')
						svg.header__item-icon
							<use xlink:href="./assets/images/sprite-welcome.svg#in"></use>
		a.page-down.page-down__blog_none(href="#")
			img.page-down__icon(src="./assets/images/arrow_down.svg" alt="page down")
	div.blog-container__bg
	div.blog-container

		aside.blog-sidebar
			div.blog-menu__swipe
			div.wrap__list-article  
				ul.list-article 
					li.list-article__art.list-article__artactiv
						h5 Самое важное в SASS
					li.list-article__art
						h5 Приёмы в вёрстке, без которых не обходится ни один сайт
					li.list-article__art
						h5 Самый необходимый набор Gulp плагинов 
					li.list-article__art
						h5 Почему я выбрал Pug    
		div.blog-content 
			article.blog-content__article         
				h3.blog-content__title Самое важное в SASS 
				h5.date 22 ноября 2017  
				h5.article-text Вот так Sass описывает сам себя в своей документации: Sass — это расширение CSS, которое добавляет силу и элегантность к основному языку. Главная цель Sass — исправить недостатки CSS. Как мы все знаем, это не самый лучший язык в мире. Являясь довольно простым для освоения, он может быстро стать запутанным, особенно на больших проектах. Вот тут-то и вступает в свою роль Sass как метаязык, который улучшает синтаксис CSS, чтобы предоставить дополнительные возможности и удобные инструменты. Между тем, Sass остаётся консервативным в отношении языка CSS. Цель не в том, чтобы превратить CSS в полнофункциональный язык программирования; Sass хочет лишь помочь там, где не справляется CSS. Поэтому начать использовать Sass – не сложнее, чем начать изучать CSS: он просто добавляет дополнительные возможности поверх CSS.
			div.line__separator
			article.blog-content__article 
				h3.blog-content__title Приёмы в вёрстке, без которых не обходится ни один сайт
				h5.date 13 ноября 2017 
				h5.article-text Адаптивная вёрстка сайта позволяет веб-страницам автоматически подстраиваться под экраны планшетов и смартфонов. Мобильный интернет-трафик растёт с каждым годом и чтобы эффективно обрабатывать этот трафик, нужно предлагать пользователям адаптивные сайты с удобным интерфейсом. Поисковые системы используют ряд критериев для оценки адаптивности сайта при просмотре на мобильных устройствах. Google старается упростить пользование Интернетом для владельцев смартфонов и планшетов, отмечая в мобильной выдаче адаптированные под мобильные устройства сайты специальной пометкой mobile-friendly. В Яндексе также работает алгоритм, который отдает предпочтение сайтам с мобильной/адаптивной версией для пользователей в мобильном поиске. Проверить отображение страницы на мобильных устройствах можно на сервисах Яндекс.Вебмастер и Google Developers.
			div.line__separator
			article.blog-content__article         
				h3.blog-content__title Самый необходимый набор Gulp плагинов 
				h5.date 29 ноября 2017  
				h5.article-text.article-text_red gulp-util 
				h5.article-text Source: gulp-util (Github: gulpjs/gulp-util , License: MIT)
				h5.article-text Это официальный инструмент для gulp.js. Авторы решили выделить вспомогательные функции в отдельный модуль, который, в конечном итоге, все равно нужно каждый раз подключать. Сюда относится такая функциональность, как логирование, подсветка вывода в консоли, и так далее. Полный список можно посмотреть на странице gulp-util на Github.
				h5.article-text.article-text_red gulp-clean 
				h5.article-text Source: gulp-clean (Github: peter-vilja/gulp-clean , License: MIT)
				h5.article-text Первое, что должна сделать любая уважающая себя система сборки, это очистить сборочную директорию и удалить все, в ней находится. После установки этого плагина вы можете запустить команду gulp clean и директория build будет очищена.
				h5.article-text.article-text_red gulp-concat 
				h5.article-text Source: gulp-concat (Github: wearefractal/gulp-concat , License: MIT)
				h5.article-text Можно предположить, что ваше HTML5 приложение имеет несколько внешних зависимостей, таких как jQuery, возможно Modernizr и т.д. Вместо того, чтобы подключать зависимости в отдельных тегах script на странице, было бы прекрасно объединить их в один файл. Для этого подойдет gulp-concat.
				h5.article-text.article-text_red  gulp-uglify
				h5.article-text Source: gulp-uglify (Github: terinjokes/gulp-uglify , License: MIT)
				h5.article-text Следующая вещь, которую мы должны сделать - это минимизировать наш vendor.js. Добавим добавим это в задачу vendor. Это также то место, где сборка может работать неправильно, т.к. gulp-uglify выбрасывает ошибку, если у вас некорректный синтаксис JavaScript. Для этого необходимо добавить обработку ошибки.
				h5.article-text.article-text_red gulp-less
				h5.article-text Source: gulp-less (Github: plus3network/gulp-less , License: MIT)
				h5.article-text Представим, что вы используете прекрасный препроцессор LESS для генерации CSS файлов и теперь хотите их сгенерировать. gulp-less поможет!
				<!-- https://getinstance.info/articles/tools/9-gulp-plugins/ -->
			div.line__separator
			article.blog-content__article         
				h3.blog-content__title Почему я выбрал Pug 
				h5.date 15 декабря 2017  
				h5.article-text Pug — это препроцессор HTML и шаблонизатор, который был написан на JavaScript для Node.js. Проще говоря, Pug — это именно то средство, которое предоставляет вам возможность написания разметки совершенно по новому, с целым рядом преимуществ по сравнению с обычным HTML.
				h5.article-text Pug компилирует это точно, рассматривая первое слово в каждой строке в качестве тега, в то время как последующие слова на этой строке обрабатываются как текст внутри тега.
	include ./../common/footer.pug
	


