.login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(700px);
}

.login-title {
display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(40px);
}

.login-title__text {
    font-family: 'bernier_regularregular', Arial, sans-serif;
    color: rgb(69, 90, 100);
}




.login-block {
    width: rem(380px);
    height: rem(395px);
    border-radius: rem(5px);
    background-color: rgba(252, 252, 252, 0.8);
}

.login__field,
.login__password {

    width: rem(340px);
    height: rem(45px);
    margin-bottom: rem(20px);
    border-radius: rem(5px);
}

.login-icon,
.password-icon {
    width: rem(45px);
    height: rem(45px);
    fill: #c4cbcd;
    background-color: #f0efe9;
}

.login__title,
.login__question,
.login__checkbox_block {
    display: flex;
    justify-content: center;
}

.login__checkbox_block {
    align-items: center;
}

.login__checkbox {
    margin: rem(10px);
}

.login__button_block {
    display: flex;
}

.login__tomain,
.login__tocomein {
    width: rem(190px);
    height: rem(45px);
    margin: rem(0px);
}

.form__input-elemrow {
    width: 100%;
    text-align: center;
}

.form__field-title,
.form__btn {
    font-size: rem(16px);
    font-family: 'robotoregular', Arial, sans-serif;
    color: rgba(69, 90, 100, 0.8);
}


.login__question {
    color: rgba(69, 90, 100, 0.8);
    font-weight: bold;
}





//checkbox
.checkbox {
    display: none;
}

.checkbox-custom {
    position: relative;
    width: rem(20px);
    height: rem(20px);
    border-radius: rem(3px);
    margin-right: rem(10px);
    background: #fff;
}

.checkbox-custom,
.checkbox__label {
    display: inline-block;
    vertical-align: middle;
}

.checkbox__label {
    width: 100%;
    cursor: pointer;
}

.checkbox:checked+.checkbox-custom::before {
    content: '\2714';
    display: block;
    position: absolute;
    top: rem(2px);
    right: rem(2px);
    bottom: rem(2px);
    left: rem(2px);
    color: #e35028;
    border-radius: rem(2px);
    background: #00bfa5;
}

.checkbox__label {
    margin-bottom: rem(10px);
}


//radio
.form__controls {
    display: inline-block;
    text-align: left;
    margin-top: rem(10px);
}

.form__radio {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: rem(150px);
}

.login__radio {
    position: absolute;
    visibility: hidden;
}

.radio2 {
    padding-left: rem(17px);
}

.form__btn {
    vertical-align: middle;
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: rem(1px) solid #cacaca;
    margin-right: rem(5px);
    margin-bottom: rem(5px);
    background: #fff;
}


.login__radio:not(checked)+.form__field-title .form__btn:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: rem(10px);
    height: rem(10px);
    border-radius: 50%;
    //background-color: #e35028;
    background-color: #00bfa5;
    transition: 0.3s;
    opacity: 0;
}

.login__radio:checked+.form__field-title .form__btn:after {
    opacity: 1;
}

.form__btn {
    display: inline-block;
    vertical-align: middle;
    font-size: rem(14px);
    margin-right: rem(5px);
} 

.login__radio:checked+.form__radio-text {
    //color: #00bfa5;
    color: red;
}





.footer__big {
    //display: none;
}

.data__author {
    background-color: transparent;
    opacity: 1;
}

.footer__small {
    //display: none;
}