h3.login__title,
h5.login__question {
    color: #fff;
}

.login__title {
	margin-bottom: 40px;
}

.login__block {
    width: 380px;
    height: 407px; //background-color: rgb(28, 31, 41);
    //opacity: 0.502
    padding: 40px 20px 0px 20px;
}

.login__field,
.login__password {
    width: 340px;
    height: 45px;
    margin-bottom: 20px;
}

.login__title,
.login__question,
.login__checkbox_block {
    display: flex;
    justify-content: center;
}

.login__checkbox_block {
	align-items: center;
}

.login__checkbox {
	margin: 10px;
}

.login__button_block {
    display: flex;
}

.login__tomain,
.login__tocomein {
    width: 190px;
    height: 45px;
    margin: 0px;
}


.footer__big {
    display: none;
}

.data__author {
    background-color: transparent;
    opacity: 1;
}