* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: rem(16px);
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

body {

    background: #ccc;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: rem(63px);
    font-family: 'bernier_regularregular', Arial, sans-serif;
    line-height: 1.048;

     @include phones() {
        font-size: rem(35px);
    }
}

h3 {
    font-size: rem(35px);
    font-family: 'robotoregular', Arial, sans-serif;
    line-height: 1.171;

     @include phones() {
        font-size: rem(21px);
    }
}

h4 {
    font-size: rem(28px);
    font-family: 'robotoregular', Arial, sans-serif;
}

h5 {
    font-size: rem(16px);
    font-family: 'robotoregular', Arial, sans-serif;
    line-height: 1.5;

    @include tablets() {
       font-size: rem(14px);
    }

     @include phones() {
        font-size: rem(14px);
    }
}






