.header__about-works {
    width: 100%;
    height: rem(500px);
    display: flex;
    justify-content: center; 
    z-index: 10;

    @include tablets() {
        height: 100vh;
    }

    @include phones() {
        height: 100vh;
    }
}

.header-container {
    @include tablets() {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

.header__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: rem(125px);

    @include tablets() {
        margin-top: rem(0px);
    }
}


.svg-text__portfolio {
    fill: #fff;
    position: absolute;
    width: 90%;
    opacity: 0.5;
    height: rem(400px);

    @include phones() {
        display: none;
    }
}

.header__avatar {
    background-image: url('./../images/photo__header.jpg');
    width: rem(140px);
    height: rem(140px);
    border-radius: 50%;
    background-repeat: no-repeat;
    margin-bottom: rem(20px);
    margin-top: rem(30px);
    z-index: 10;
}

.header__soc {
    position: absolute;
    left: rem(55px);
    top: rem(5px);

    @include phones() {
        left: rem(10px);
        top: rem(15px);
    }
}

.header__soc-list {
    display: flex;
    justify-content: center;
}

.header__item-icon {
    width: rem(30px);
    height: rem(18px);
    fill: #c1d5d5;
    margin: rem(38px) rem(10px);

    @include phones() {
        margin: rem(0px) rem(10px);
    }
}

.header__item-icon:hover {
    fill: #fff;
    cursor: pointer;
}

.menu-hamburger {
    position: absolute;
    top: rem(30px);
    right: rem(60px);
    width: rem(40px);
    height: rem(35px);

    @include tablets() {
        top: rem(25px);
        right: rem(25px);
    }

    @include phones() {
        height: rem(25px);
        top: rem(10px);
        right: rem(0px);
    }
}

.menu-hamburger__icon {
    @include phones() {
        width: rem(25px);
    }
}



.header-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-block__name {
    color: rgb(255, 255, 255);
    line-height: 2.832;
}




.header-block__title {
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.5;
}

.page-down {
    position: absolute;
    top: rem(515px);
    left: 50%;
    transform: translate(-50%, 0);

    @include tablets() {
        top: rem(870px);
    }

    @include phones() {
        top: rem(500px);
    }
}


.page-up {
    display: flex;
    justify-content: center;
    transform: rotate(180deg);
}