.parallax-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #9abdbe;
	overflow: hidden;
	z-index: -1;
	height: 100vh;
}

.parallax__layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	will-change: transform;
}

.parallax__image {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

}